
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.top-navbar {
  background-color: #2874f0; 
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}


.search {
  display: flex;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.search input {
  border: none;
  padding: 6px 10px;
  width: 250px;
  outline: none;
}

.search button {
  background: #ffea00;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.login {
  background: white;
  color: #2874f0;
  border: none;
  padding: 6px 16px;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
}


.bottom-navbar {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  padding: 10px 20px;
  background: white;
  color: #333;
  font-weight: 500;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.bottom-navbar span {
  text-align: center;
  cursor: pointer;
}